PATH_add bin
export RAILS_DB_ADAPTER=mysql2
export RAILS_DB_NAME=hit_sww_development
export RAILS_TEST_DB_NAME=hit_sww_test
export RAILS_PRODUCTION_DB_NAME=hit_sww_production
export RUBYOPT=-W0
export WAGONS="sww"
log_status "hitobito now uses: sww"
source_up
