-#  Copyright (c) 2012-2025, Schweizer Wanderwege. This file is part of
-#  hitobito_sww and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sww.

%dl.dl-horizontal
  = labeled_attr(entry, :logo_on_every_page)

%dl.dl-horizontal
  = labeled_attr(entry, :separators)

%dl.dl-horizontal
  = labeled_attr(entry, :use_header)
  = labeled_attr(entry, :header)
