-#  Copyright (c) 2026, Schweizer Wanderwege. This file is part of
-#  hitobito_sww and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sww

-# locals: (t:)

- t.sortable_attr(:household_key, Person.human_attribute_name(:household_key)) do |invoice|
  = invoice.recipient.try(:household_key)
