= f.labeled_input_field(:letter_left_address_position)
= f.labeled_input_field(:letter_top_address_position)
= f.labeled_input_field(:membership_card_left_position)
= f.labeled_input_field(:membership_card_top_position)
