#  Copyright (c) 2012-2022, Schweizer Wanderwege. This file is part of
#  hitobito_sww and licensed under the Affero General Public License version 3
#  or later. See the COPYING file at the top-level directory or at
#  https://github.com/hitobito/hitobito_sww.



# Settings relevant for the hitobito_sww wagon
# Overrides settings from the main application
application:
  languages:
    de: Deutsch
    fr: Französisch
    it: Italienisch

  additional_languages:
    en: Englisch

  logo:
    image: logo.svg
    height: 70
    width: 200

<% mail_domain = ENV['RAILS_MAIL_DOMAIN'].presence ||
                 ENV['RAILS_HOST_NAME'].presence ||
                 'localhost' %>

email:
  # Sender for all emails sent by the application
  sender: <%= "Genève Rando <noreply@#{mail_domain}>" %>

# The person with this email has root access to everything
# This person should only be used by the operators of the application,
# not the customers.
# Initially, a password reset token may be mailed from the application
# to this address to set a password.
root_email: hitobito-sww@puzzle.ch

messages:
  enable_writing: true

assignments:
  enabled: true
