-#  Copyright (c) 2026, Schweizer Wanderwege. This file is part of
-#  hitobito_sww and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito_sww

-# locals: (f:)

- [:first_name, :last_name].each do |attr|
  - if event.show_contact_attr?(attr)
    - if entry.is_a?(Event::ParticipationContactData) ? controller.permitted_attrs.include?(attr) : true
      = f.labeled_input_field(attr)
    - else
      = f.labeled(attr) do
        %p.form-control-plaintext= entry.send(attr)

- [:nickname, :company_name].each do |a|
  = f.labeled_input_field(a) if event.show_contact_attr?(a)
